body {
  font-family: 'Inconsolata', monospace !important;
}

.jumbotron {
  max-width: 75%;
  margin: auto;
}

.row {
  max-width: 95%;
  margin: auto;
}

#display {
  background-color: #555;
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  color: white !important;
  font-size: 1.5em;
}

.col-xs-4 {
  padding: 0 0 0 0;
}

.col-xs-2{
  padding: 0 0 0 0;
}

#clear {
  background-color: #ffcccc;
}

.col-xs-2 .btn {
  background-color: #ccccff;
}

.operator {
  background-color: #ccffcc !important;
}

.col-xs-4 .btn {
  background-color: #ccffcc;
}

.col-xs-12 {
  padding: 0 0 0 0;
}

.btn {
  border: 1px black solid;
  max-width: 100%;
  margin: 0 0 0 0;
}
